/*Подключение шрифтов*/


/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 15px;
    color: #4C4C4C;
    font-weight: 400;
    font-family: 'Arial';
    font-style: normal;
    background: #FFFFFF;
}

.lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

._container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

@media (max-width: 769px) {
    ._container {
        max-width: 708px;
    }
}

@media (max-width: 321px) {
    ._container {
        max-width: 300px;
        padding: 0px 10px;
    }
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


/*--------Шапка--------*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 180px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 769px) {
    .header__container {
        min-height: 150px;
    }
}

.header__logo-link {
    color: #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.header__logo-subtitle {
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    text-align: center;
}

.menu__icon {
    display: none;
    height: 22px;
    width: 30px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.hamburger__line,
.menu__icon::before,
.menu__icon::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
}

.hamburger__line {
    top: calc( 50% - 1px);
    left: 0;
}

.menu__icon::before {
    content: "";
    top: 0;
}

.menu__icon::after {
    content: "";
    top: calc( 100% - 2px);
}

.menu__body {
    padding: 5px 0px;
    display: flex;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item-active {
    border-bottom: 3px solid #F1CDB3;
}

.menu__item:not(:last-child) {
    margin-right: 35px;
}

@media (max-width: 700px) {
    .menu__item:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 675px) {
    .menu__item:not(:last-child) {
        margin-right: 25px;
    }
}

@media (max-width: 650px) {
    .menu__item:not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 625px) {
    .menu__item:not(:last-child) {
        margin-right: 15px;
    }
}

.menu__link {
    color: #CDCDCD;
    line-height: 160%;
    transition: 0.3s;
}

.menu__link:hover {
    color: #FAFAFA;
}

@media (max-width: 600px) {
    .menu__icon {
        display: block;
    }
    .menu__body {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 320px;
        background: #292929;
        display: flex;
        overflow: auto;
        transition: 1s;
    }

    .menu__body.active  {
        right: 0;
    }

    .menu__list {
        flex-direction: column;
        margin: auto;
    }

    .menu__item {
        margin-bottom: 43px;
        text-align: center;
    }

    .menu__link {
        font-size: 32px; 
    }
}

.menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.burger-menu_active .burger-menu__overlay {
    display: block;
}

/*--------notonly--------*/

.notonly {
    position: relative;
}

.notonly__body {
    padding-top: 180px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 769px) {
    .notonly__body {
        padding-top: 150px;
        display: block;
    }
}

.notonly__content {
    padding: 163px 42px 0px 0px;
}

@media (max-width: 769px) {
    .notonly__content {
        padding: 0px 123px 100px 124px;
    }
}

@media (max-width: 600px) {
    .notonly__content {
        padding: 0px 0px 105px 0px;
        text-align: center;
    }
}

.notonly__content>*:not(:last-child) {
    margin-bottom: 42px;
}

.notonly__title {
    max-width: 310px;
    color: #FFFFFF;
    font-family: 'Georgia';
    font-size: 44px;
    line-height: 130%;
}

@media (max-width: 600px) {
    .notonly__title {
        max-width: 250px;
        font-size: 25px;
        letter-spacing: 0.06em;
        margin: auto;
    }
}

.notonly__text {
    color: #CDCDCD;
    line-height: 160%;
}

.nutonly__button {
    background: #F1CDB3;
    border-radius: 100px;
    color: #292929;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 15px 45px;
    transition: 0.3s;
}

@media (max-width: 769px) {
    .notonly__link-container {
        text-align: center;
    }
}

.nutonly__button:hover {
    background: #FDDCC4;
}

.notonly__image {
    max-width: 58.1667%;
}

@media (max-width: 769px) {
    .notonly__image {
        text-align: right;
        max-width: 100%;
    }
    .notonly__image img {
        width: 80.3672%;
        height: auto;
    }
}

@media (max-width: 321px) {
    .notonly__image img {
        width: 86.6666%;
        height: auto;
    }
}

.notonly__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*--------about--------*/

.about {
    padding: 80px 0px 100px 0px;
}

.about__body {
    padding: 0px 175px;
    display: flex;
}

@media (max-width: 1050px) {
    .about__body {
        padding: 0px 155px;
    }
}

@media (max-width: 980px) {
    .about__body {
        padding: 0px 125px;
    }
}

.about__image {
    flex: 0 1 calc(50% - 10px);
}

.about__image img {
    max-width: 100%;
}

.about__content {
    flex: 0 1 calc(50% + 10px);
}

.about__content>*:not(:last-child) {
    margin-bottom: 25px;
}

.block-title {
    max-width: 370px;
    color: #545454;
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about__text {
    line-height: 160%;
}

@media (max-width: 769px) {
    .about__body {
        padding: 0px 135px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .about__content {
        margin-bottom: 80px;
    }
}

@media (max-width: 690px) {
    .about__body {
        padding: 0px 100px;
    }
}

@media (max-width: 592px) {
    .about__body {
        padding: 0px 60px;
    }
    .block-title {
        font-size: 25px;
        text-align: center;
    }
}

@media (max-width: 460px) {
    .about__body {
        padding: 0px 20px;
    }
}

@media (max-width: 321px) {
    .about {
        padding: 42px 0px 42px 0px;
    }
    .about__body {
        padding: 0px 15px;
    }
    .about__content {
        margin-bottom: 42px;
    }
    .about__content>*:not(:last-child) {
        margin-bottom: 22px;
    }
    .about__text {
        text-align: justify;
    }
    .about__image {
        text-align: center;
        max-width: 300px;
    }
    .about__image img {
        max-width: 260px;
        height: auto;
    }
}


/*--------ourfriends--------*/

.ourfriends {
    padding: 80px 0px 100px 0px;
    background: #F6F6F6;
    text-align: center;
}

.ourfriends__container>*:not(:last-child) {
    margin-bottom: 60px;
}

.ourfriends__title {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.ourfriends__body {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ourfriends__arrow {
    width: 52px;
    height: 52px;
    background: #F6F6F6;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.ourfriends__arrow:hover {
    background: #FDDCC4;
}

.ourfriends__cards {
    display: flex;
    padding: 0px 53px 0px 53px;
}

.item-ourfriends {
    position: relative;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.item-ourfriends:hover {
    background: #FFFFFF;
}

.item-ourfriends:not(:last-child) {
    margin-right: 90px;
}

.item-ourfriends>* {
    margin-bottom: 30px;
}

.item-ourfriends__name {
    color: #545454;
    font-family: 'Georgia';
    font-size: 20px;
    line-height: calc(23 / 20 * 100%);
    letter-spacing: 0.06em;
}

.item-ourfriends__button {
    background: #FAFAFA;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    color: #292929;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 15px 45px;
    transition: 0.3s;
}

.item-ourfriends__button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item-ourfriends__button:hover {
    background: #FDDCC4;
}

.ourfriends__button {
    background: #F1CDB3;
    border-radius: 100px;
    color: #292929;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 15px 45px;
    transition: 0.3s;
}

.ourfriends__button:hover {
    background: #FDDCC4;
}

@media (max-width: 1230px) {
    .ourfriends__cards {
        padding: 0px 15px 0px 15px;
    }
}

@media (max-width: 1150px) {
    .item-ourfriends:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 1050px) {
    .item-ourfriends:not(:last-child) {
        margin-right: 15px;
    }
}

@media (max-width: 1010px) {
    .ourfriends__cards {
        padding: 0px 12px 0px 12px;
    }
    .item-ourfriends:nth-child(1n +3) {
        display: none;
    }
    .item-ourfriends:first-child {
        margin-right: 40px;
    }
    .item-ourfriends:not(:first-child) {
        margin-right: 0px;
    }
}

@media (max-width: 750px) {
    .item-ourfriends:first-child {
        margin-right: 20px;
    }
}

@media (max-width: 720px) {
    .item-ourfriends:nth-child(1n +2) {
        display: none;
    }
    .item-ourfriends:first-child {
        margin-right: 0px;
    }
}

@media (max-width: 460px) {
    .ourfriends {
        padding: 42px 0px;
    }
    .ourfriends__body {
        padding: 0px 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .ourfriends__cards {
        order: -1;
        margin-bottom: 20px;
    }
    .ourfriends__container>*:not(:last-child) {
        margin-bottom: 42px;
    }
    .ourfriends__arrow:first-child {
        margin-right: 80px;
    }
}


/*--------help--------*/


.help {
    padding: 80px 0px 100px 0px;
}

.help__title {
    max-width: 310px;
    margin: 0px auto 60px;
    text-align: center;
}

.help__body {
    padding: 0px 87px;
}

.help__items {
    display: flex;
    flex-wrap: wrap;
}

.item-help {
    margin: 0px 119px 0px 0px;
    text-align: center;
}

@media (max-width: 1230px) {
    .item-help {
        margin: 0px 90px 0px 0px;
    }
}

@media (max-width: 1115px) {
    .help__body {
        padding: 0px 60px;
    }
    .item-help {
        margin: 0px 70px 0px 0px;
    }
}

@media (max-width: 980px) {
    .help__body {
        padding: 0px 39px;
    }
    .item-help {
        margin: 0px 60px 0px 0px;
    }
}

.item-help:first-child {
    margin-bottom: 55px;
}

.item-help:nth-child(5) {
    margin-right: 0px;
}

.item-help:nth-child(9) {
    margin-right: 0px;
}

.item-help:nth-child(6) {
    margin-left: 84px;
}

.item-help__icon {
    margin-bottom: 30px;
}

.item-help__title {
    color: #545454;
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

@media (max-width: 900px) {
    .help__body {
        padding: 0px 55px;
    }
    .item-help {
        flex: 0 1 33.333%;
        margin: 0;
    }
    .item-help:nth-child(3) {
        margin: 0px 0px 55px 0px;
    }
    .item-help:nth-child(6) {
        margin: 0px 0px 55px 0px;
    }
}

@media (max-width: 592px) {
    .help {
        padding: 42px 0px;
    }
    .help__title {
        margin: 0px auto 42px;
    }
    .help__body {
        padding: 0px 5px;
    }
    .item-help {
        flex: 0 1 50%;
    }
    .item-help:first-child {
        margin-bottom: 0px;
    }
    .item-help:nth-child(3) {
        margin: 0px;
    }
    .item-help:nth-child(6) {
        margin: 0px;
    }
    .item-help:nth-child(even) {
        margin: 0px 0px 30px 0px;
    }
    .item-help__icon {
        margin-bottom: 20px;
    }
    .item-help__icon img {
        max-height: 50px;
        width: auto;
    }
    .item-help__title {
        font-size: 15px;
        line-height: 110%;
    }
}


/*--------donation--------*/

.donation {
    background: #F6F6F6;
}

.donation__body {
    padding: 80px 143px 100px 143px;
    display: flex;
    align-items: center;
}

.donation__content {
    padding-left: 30px;
}

.donation__content>*:not(:last-child) {
    margin-bottom: 20px;
}

.donation__title {
    max-width: 300px;
}

.donation__subtitle {
    color: #545454;
    font-family: 'Georgia';
    line-height: 110%;
    letter-spacing: 0.06em;
}

.credit-card {
    background: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.credit-card:hover {
    background: #FDDCC4;
}

.credit-card__number {
    margin-left: 15px;
    color: #545454;
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.donation__legal-info {
    max-width: 380px;
    color: #B2B2B2;
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
}

@media (max-width: 1205px) {
    .donation__body {
        padding: 80px 120px 100px 120px;
    }
}

@media (max-width: 1156px) {
    .donation__body {
        padding: 80px 80px 100px 80px;
    }
}

@media (max-width: 980px) {
    .donation__body {
        flex-direction: column-reverse;
    }
    .donation__content {
        margin-bottom: 60px;
    }
}

@media (max-width: 540px) {
    .donation__body {
        padding: 42px 10px 42px 9px;
        text-align: center;
    }
    .donation__content {
        margin-bottom: 42px;
        padding-left: 0px;
    }
    .donation__subtitle {
        line-height: 160%;
        letter-spacing: 0;
    }
    .credit-card__number {
        font-size: 15px;
        line-height: 110%;
    }
    .donation__legal-info {
        max-width: 280px;
        text-align: justify;
    }
    .donation__image {
        text-align: center;
        max-width: 100%;
    }
    .donation__image img {
        max-width: 92.8571%;
        height: auto;
    }
}


/*--------footer--------*/

.footer {
    padding-top: 40px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__title {
    max-width: 279px;
    color: #FFFFFF;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts__item,
.location__city {
    display: flex;
    align-items: center;
    color: #F1CDB3;
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.contacts__item:not(:last-child) {
    margin-bottom: 40px;
}

.contacts__text {
    margin-left: 20px;
}

.location-title {
    margin-bottom: 34px;
}

.location__city:not(:last-child) {
    margin-bottom: 32px;
}

.location__text {
    max-width: 260px;
    margin-left: 20px;
}

@media (max-width: 980px) {
    .footer {
        padding: 30px 60px 0px 60px;
    }
    .footer__column:not(:last-child) {
        margin-bottom: 65px;
    }
    .footer__image {
        flex: 1 1 100%;
        text-align: center;
    }
}

@media (max-width:769px) {
    .footer {
        padding: 30px 34px 0px 34px;
    }
}

@media (max-width:690px) {
    .footer {
        padding: 30px 0px 0px 0px;
    }
    .footer__content {
        flex-direction: column;
        align-items: center;
    }
    .footer__column:not(:last-child) {
        margin-bottom: 40px;
    }
    .footer__title {
        margin: 0 auto 40px auto;
        text-align: center;
    }
    .contacts__item {
        justify-content: center;
    }
    .contacts__item:last-child {
        margin-bottom: 0px;
    }
    .location__city:not(:last-child) {
        margin-bottom: 40px;
    }
    .footer__image {
        text-align: center;
        max-width: 100%;
    }
    .footer__image img {
        max-width: 86.6666%;
        height: auto;
    }
}